

/* @media only screen and (max-width: 500px)  { */
.card-list{
width:100%;
margin:0 auto;
display:block;
/* grid-template-columns: 1fr 1fr 1fr 1fr; */
/* grid-gap:20px; */
}

@media only screen and (min-width : 1000px){
    .card-list{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
    margin-left: 70px;
    
}
}


/* @media only screen and (max-width: 1000px)  {
.card-list{
    width:85vw;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
    }
} */